.field:is(input, select) {
  background-color: $color-dark;
  border: 1px solid $color-light;
  color: $color-light;
  border-radius: 0.25rem;
  height: 2rem;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  font-size: 1rem;
  font-family: $font-family;
  min-width: 0; // allows resized width

  &.disabled {
    opacity: 0.2;
    pointer-events: none;
  }

  &:is(input[type="checkbox"]) {
    appearance: none;
    width: 2rem;
    position: relative;

    &:checked {
      background-color: $color-accent;
      border-color: $color-accent;
      color: $color-dark;

      &::before {
        content: "✔";
        position: absolute;
        font-size: 1.5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
