<ng-container *transloco="let t; read: 'transaction'">
  <div class="field-element">
    <label for="amount">{{ t("amount.label") }}</label>
    <div class="amount-input">
      <input
        id="amount"
        class="field"
        type="number"
        [placeholder]="t('amount.placeholder')"
        [formControl]="form.controls.amount"
      />
      <span class="suffix">€</span>
    </div>
  </div>

  <div *ngIf="form.controls.amount.value" class="field-element participants">
    <p>{{ t("participants") }}</p>
    <div
      class="participant"
      *ngFor="let participant of form.controls.participants.controls"
    >
      <input
        type="checkbox"
        class="field"
        [formControl]="participant.controls.shouldBeEvaluated"
      />
      <input
        class="field"
        placeholder="John Doe"
        [formControl]="participant.controls.name"
        [class.disabled]="!participant.controls.shouldBeEvaluated.value"
      />
      <input
        type="number"
        class="field"
        [formControl]="participant.controls.amount"
        [class.disabled]="!participant.controls.shouldBeEvaluated.value"
      />
      <select
        class="field"
        [formControl]="participant.controls.unit"
        [class.disabled]="!participant.controls.shouldBeEvaluated.value"
      >
        <option value="fraction">{{ t("units.fraction") }}</option>
      </select>
    </div>
  </div>

  <button
    class="button button-accent evaluate"
    [disabled]="!form.valid"
    (click)="evaluateResult()"
  >
    {{ t("evaluate") }}
  </button>

  <app-transaction-result
    *ngIf="result"
    [result]="result"
  ></app-transaction-result>
</ng-container>
